# Server
PORT=5000
APP_URL=http://localhost:3000

# Database
DATABASE_URL=postgres://8049e43f2a0497748bd1b273b2f1ee04b70753482ebd0af01e66fb36aeaf2f3f:sk_l39bp_nZhmuHqu93iQ1O6@pooled.db.prisma.io:5432/postgres?sslmode=require

# JWT
JWT_ACCESS_SECRET=access_secret
JWT_REFRESH_SECRET=refresh_secret
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

# Bcrypt
BCRYPT_SALT_ROUNDS=10

# Stripe
STRIPE_SECRET_KEY=sk_test_51T0b0mFNhMeY5MIfgVPUdSlh7LrzYKP0v7aNj2NRS84GTAJIduG4lrAQWDq1KH2plNkmVdo4CoX1h8NgzK4zy6WK00EMcV42hi
STRIPE_WEBHOOK_SECRET=whsec_a7ba923ef6fcdc426e9f1e0f565841f9058ad95e020ac5930057b8e669b56465
